.glyphicon.glyphicon-home{font-size: 39px;text-decoration: none;}
.glyphicon.glyphicon-search{font-size: 23px;text-decoration: none;}
.body{background-color: #A0A0A0;}


/*.white, .white a {
  color: #fff;
}